*.elc
*.orig
.DS_Store
*~
\#*
.#*
arch/
build/
desktops/
elpa/
old/
RCS/
transient/


.org-id-locations
ac-comphist.dat
bookmarks
projectile-bookmarks.eld
network-security.data
smex-items
elpy/
package-quickstart.el

.lsp-session-v1
tramp
.session

straight
!straight/versions/
